# Supabase
NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=

# Resend
RESEND_API_KEY=

# Upstash
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Dub
DUB_API_KEY=

# OpenPanel
NEXT_PUBLIC_OPENPANEL_CLIENT_ID=
OPENPANEL_SECRET_KEY=

# Sentry
SENTRY_AUTH_TOKEN=
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_ORG=
SENTRY_PROJECT=

# Cybersource
CYBERSORUCE_API_KEY=
CYBERSORUCE_API_SECRET=
CYBERSORUCE_MERCHANT_ID=
CYBERSORUCE_PROFILE_ID=
CYBERSORUCE_ORGANIZATION_ID=

CYBERSOURCE_KEYS_DIRECTORY=
CYBERSOURCE_KEY_FILE_NAME=
CYBERSOURCE_KEY_ALIAS=
CYBERSOURCE_KEY_PASS=

